/* Colors palette: */

$main-black: #151515;
$text-secondary: #575757;
$text-pale-grey: #a9a9a9;
$thumb-border-grey: #d1d1d1;
$accent-green: #6a983c;
$btn-border-green: #92c064;
$buy-btn-border-green: rgb(70, 118, 10);
$quote-border-grey: #f1f1f1;
$discount-bg-green: #f4f8ec;
$main-white: #fff;
$bg-light-grey: #f9f9f9;
$accent-red: #e6704b;
$bg-tag-grey: #f5f5f5;
