/* RANDOM PRODUCTS SECTION */

.sale {
  &__container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
}
