<section class="best-sellers">
  <div class="container best-sellers__container">
    <div class="aside">
      <h2>Best selling products</h2>
      <ul class="list-general aside__list">
        <li class="aside__item">
          <a href="" class="links-general aside__link">Kitchen</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Meat and fish</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Special nutrition</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Baby</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Pharmacy</a>
        </li>
      </ul>
      <a href="" class="links-general more-btn"
        >More products
        <svg class="more-btn__icon">
          <use href="./images/icons.svg#icon-black-arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="cards">
      <ul id="best-sellers-cards" class="list-general cards__list gallery"></ul>
    </div>
  </div>
</section>
