<section class="blog">
  <div class="container blog__container">
    <div class="blog__header">
      <h2 class="blog__title">Read our Blog posts</h2>
      <button class="top-btn">
        Go to Blog
        <svg class="top-btn__icon">
          <use href="./images/icons.svg#icon-green-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="articles">
      <ul class="list-general articles__list">
        <!-- Left block -->
        <li class="articles__item">
          <a href="" class="links-general articles__link">
            <article class="articles__content">
              <p
                class="articles__category articles__category--left articles__tip"
              >
                Dinner tips
              </p>
              <img
                src="./images/blog1.png"
                alt="tasty dish"
                width="469"
                class="image-display articles__img"
              />
              <div class="articles__meta">
                <h3 class="articles__title">
                  Our chef tips for a great and tasty dinner ready in 20 minutes
                </h3>
                <div class="articles__content-wrapper">
                  <img
                    src="./images/customer1.jpg"
                    alt="author photo"
                    class="image-display articles__author-pic"
                  />
                  <p class="articles__description">
                    Tom Cook
                    <time datetime="2020-06-17" class="articles__time"
                      >17. 6. 2020</time
                    >
                  </p>
                </div>
              </div>
            </article>
          </a>
        </li>
        <!-- Central block -->
        <li class="articles__item">
          <a href="" class="links-general articles__link">
            <article class="articles__content">
              <img
                src="./images/blog2.png"
                alt="tasty dish"
                width="269"
                class="image-display articles__img"
              />
              <p class="articles__category articles__category--center">
                Vegetable
              </p>
              <h3 class="articles__title">
                Which vegetable your family will love and want’s eat each day
              </h3>
              <p class="articles__description">
                Gordon White
                <time datetime="2020-06-15" class="articles__time"
                  >15. 6. 2020</time
                >
              </p>
            </article>
          </a>
        </li>
        <!-- Right block -->
        <li class="articles__item">
          <ul class="list-general articles__sublist">
            <li class="articles__sublist-item">
              <a href="" class="links-general articles__link">
                <article class="articles__content">
                  <img
                    src="./images/blog3.png"
                    alt="tasty dish"
                    width="96"
                    class="image-display articles__img"
                  />
                  <div class="articles__meta">
                    <h3 class="articles__title">
                      Salat is kinda good start to your morning routines
                    </h3>
                    <p class="articles__description">
                      Chris Taylor
                      <time datetime="2020-01-14" class="articles__time"
                        >14.1.2020</time
                      >
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="articles__sublist-item">
              <a href="" class="links-general articles__link">
                <article class="articles__content">
                  <img
                    src="./images/blog4.png"
                    alt="tasty dish"
                    width="96"
                    class="image-display articles__img"
                  />
                  <div class="articles__meta">
                    <h3 class="articles__title">
                      Our chef tips for a great and healthy breakfast
                    </h3>
                    <p class="articles__description">
                      Nathan Evans
                      <time datetime="2020-01-14" class="articles__time"
                        >14.1.2020</time
                      >
                    </p>
                  </div>
                </article>
              </a>
            </li>
            <li class="articles__sublist-item">
              <a href="" class="links-general articles__link">
                <article class="articles__content">
                  <img
                    src="./images/blog5.png"
                    alt="tasty dish"
                    width="96"
                    class="image-display articles__img"
                  />
                  <div class="articles__meta">
                    <h3 class="articles__title">
                      Prepare a simple and delicious breads
                    </h3>
                    <p class="articles__description">
                      Linda Bowley
                      <time datetime="2020-01-14" class="articles__time"
                        >14.1.2020</time
                      >
                    </p>
                  </div>
                </article>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
