<section class="farm-products">
  <div class="container farm-products__container">
    <div class="aside">
      <h2>Best from Farmers</h2>
      <ul class="list-general aside__list">
        <li class="aside__item">
          <a href="" class="links-general aside__link">Carrots</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Tomatoes</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Potatoes</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Chicken</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Pork</a>
        </li>
      </ul>
      <a href="" class="links-general more-btn"
        >More products
        <svg class="more-btn__icon">
          <use href="./images/icons.svg#icon-black-arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="cards">
      <ul id="farm-cards" class="list-general cards__list gallery"></ul>
    </div>
  </div>
</section>
