<section class="feedback">
  <div class="feedback__container">
    <div class="container feedback__header">
      <h2 class="feedback__title">Our customers say</h2>
      <button class="top-btn" type="button">
        Write a review
        <svg class="top-btn__icon">
          <use href="./images/icons.svg#icon-green-arrow-right"></use>
        </svg>
      </button>
    </div>
    <!-- SLIDER -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slide1 -->
        <div class="swiper-slide">
          <p class="quote">
            “ Best quality and great value fruit and vegatables fantastic
            variety.Delivery always on the said date and delivered with a smile
            whatever the weather. I have had loads of orders and have never been
            disapointed with anything.“
          </p>
          <p class="name">Dana Coal</p>
        </div>
        <!-- Slide2 -->
        <div class="swiper-slide">
          <p class="quote">
            “ Just received my first order and wow I was extremely impressed
            with the quality of the vegetables, I haven’t seen veg like this for
            years , I would highly recommend to anyone, very happy customer will
            be back for more! Thanks made my day! “
          </p>
          <p class="name">Jim Lee</p>
        </div>
        <!-- Slide3 -->
        <div class="swiper-slide">
          <p class="quote">
            “ The quality and range is the best I've ever come across, they're
            very friendly folks to deal with and will offer advice on the best
            things to buy, and supplies are unaffected by situations around the
            country. By local, buy the best, from these excellent folks! “
          </p>
          <p class="name">John Anders</p>
        </div>
        <!-- Slide4 -->
        <div class="swiper-slide">
          <p class="quote">
            “ The quality is clearly above supermarket quality and you save the
            hassle of selecting it yourself. A bit pricier but worth it - brings
            the best of the traditional green-grocer into the 21st Century. “
          </p>
          <p class="name">Pablo Punto</p>
        </div>
        <!-- Slide5 -->
        <div class="swiper-slide">
          <p class="quote">
            “ Excellent . I’ve been using this service at home and have been
            pleased with the freshness of the fruit and veg . .. this week I was
            on holiday in wales and arranged delivery to holiday home . It was
            excellent . Thoroughly recommended “
          </p>
          <p class="name">Ann Parker</p>
        </div>
        <!-- Slide6 -->
        <div class="swiper-slide">
          <p class="quote">
            “ Fantastic produce and service - would highly recommend!“
          </p>
          <p class="name">Deborah McDonald</p>
        </div>
        <!-- Slide7 -->
        <div class="swiper-slide">
          <p class="quote">
            “ Used the market stall for years. Online delivery is a great
            addition to the business and suits our needs. Large selection of
            items to pick from. Fruit & veg lasts ages so is clearly fresh and
            most importantly it tastes delicious. Highly recommended. “
          </p>
          <p class="name">Ellys Moyle</p>
        </div>
        <!-- Slide8 -->
        <div class="swiper-slide">
          <p class="quote">
            “ We have been using this service since March 2020 and before then
            we bought from the market stall. The fruit and veg are always fresh
            and appealing. The prices are good as are the discounts. The people
            are friendly and cheerful, whatever the weather. “
          </p>
          <p class="name">Chelsea Clarke</p>
        </div>
        <!-- Slide9 -->
        <div class="swiper-slide">
          <p class="quote">
            “ The quality of the fruit and veg is always excellent. The guys
            that deliver are always polite, friendly and very helpful. “
          </p>
          <p class="name">Ritchie Hemingway</p>
        </div>
        <!-- Slide10 -->
        <div class="swiper-slide">
          <p class="quote">
            “ Much better than supermarket vegetables, all ways fresh and not
            covered in tons of plastice “
          </p>
          <p class="name">Ben Parks</p>
        </div>
      </div>
      <button class="swiper-button-prev" aria-label="previous slide">
        <svg class="btn-prev-icon">
          <use href="./images/icons.svg#icon-slider-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next" aria-label="next slide">
        <svg class="btn-next-icon">
          <use href="./images/icons.svg#icon-slider-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
