<section class="hero">
  <div class="container hero__container">
    <div class="aside">
      <h2>Category menu</h2>
      <ul class="list-general aside__list">
        <li class="aside__item">
          <a href="" class="links-general aside__link">Bakery</a>
        </li>
        <li class="aside__item">
          <a href="./fruit-vegetables.html" class="links-general aside__link"
            >Fruit and vegetables</a
          >
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Meat and fish</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Drinks</a>
        </li>
        <li class="aside__item">
          <a href="" class="links-general aside__link">Kitchen</a>
        </li>
      </ul>
      <a href="" class="links-general more-btn"
        >More categories
        <svg class="more-btn__icon">
          <use href="./images/icons.svg#icon-black-arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="hero__card">
      <p class="hero__subtitle">Banner subfocus</p>
      <h2 class="hero__title">Space for heading</h2>
      <a href="" class="links-general read-btn"
        >Read recepies
        <svg class="read-btn__icon">
          <use href="./images/icons.svg#icon-green-arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="hero__card">
      <p class="hero__subtitle">Banner subfocus</p>
      <h2 class="hero__title">Space for heading</h2>
      <a href="" class="links-general read-btn"
        >Read recepies
        <svg class="read-btn__icon">
          <use href="./images/icons.svg#icon-green-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
