/* MENU SECTION */

.menu {
  background-color: $bg-light-grey;
  &__list {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.47;
    color: $main-black;
    border: none;
  }
  &__item {
    white-space: nowrap;
    position: relative;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 40px;
    @include transition(transform);
  }

  &__icon {
    width: 12px;
    height: 12px;
    transition: transform 300ms linear;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    transform: rotate(90deg) translateY(-50%);
  }
  &__link:hover,
  &__link:focus {
    transform: scale(1.2);
    text-shadow: 0px 1px 3px rgba(70, 118, 10, 0.12);
  }
  &__link:hover ~ .submenu,
  &__link:focus ~ .submenu {
    // display: block;
    opacity: 1;
    visibility: 1;
    top: 100%;
  }
}
