/* Middle bar */

.middle-bar {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  & .logo {
    display: inline-block;
    max-width: 177px;
    max-height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    @include transition(transform);

    &__icon {
      width: 177px;
      height: 18px;
      fill: $main-black;
    }
  }

  & .logo:hover,
  & .logo:focus {
    transform: scale(1.1);
  }
}
// SEARCH PANEL

.search {
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    height: 42px;
    padding: 10px 16px;
    background: $bg-light-grey;
    border: 1px solid $thumb-border-grey;
    border-radius: 12px;
  }

  &__form--selected {
    border-bottom-left-radius: 0;
  }

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 23px;
    margin-left: 23px;
    border-left: 1px solid $thumb-border-grey;
  }

  &__input {
    width: 252px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.357;
    color: $main-black;

    &::placeholder {
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 1.357;
      color: $text-pale-grey;
    }
  }

  &__btn {
    width: 16px;
    height: 16px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
    box-sizing: content-box;
  }

  &__icon {
    width: 16px;
    height: 16px;
    @include transition(transform);
  }

  &__btn:hover &__icon,
  &__btn:focus &__icon {
    transform: scale(1.3);
  }
}

// SELECT LIST

// .select {
//   display: inline-flex;
//   position: relative;

//   &__list {
//     min-width: 130px;
//     border: none;

//     background-color: transparent;
//     font-weight: 700;
//     font-size: 15px;
//     line-height: 1.467;
//     appearance: none;
//     -moz-appearance: none;
//     -webkit-appearance: none;
//   }

//   &__icon {
//     margin-left: 8px;
//     width: 16px;
//     height: 16px;
//     position: absolute;
//     top: 50%;
//     right: 0;
//     transform: translateY(-50%);
//     pointer-events: none;
//     opacity: 1;
//     transition: opacity 250ms linear, transform 300ms linear;
//   }

//   &__list:hover + &__icon,
//   &__list:focus + &__icon {
//     opacity: 0.5;
//     transform: translateY(-50%) rotate(90deg) translateY(-50%);
//     @include transition(opacity, transform);
//     // transition: opacity 250ms linear, transform 300ms linear;
//   }

//   &__option {
//     border: none;
//   }
// }

.select {
  white-space: nowrap;
  position: relative;

  &__btn {
    display: inline-flex;
    justify-content: flex-start;
    min-width: 100%;
    padding-left: 0;
    padding-right: 24px;
    border: none;
    background-color: transparent;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.467;
    @include transition(transform);
  }

  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0;
    pointer-events: none;
    transform: translateY(-50%);
    transition: transform 300ms linear 100ms;
  }

  &__btn:hover,
  &__btn:focus,
  &__btn:active {
    transform: scale(1.1);
  }

  &__btn:hover + &__icon,
  &__btn:focus + &__icon,
  &__btn:active + &__icon {
    transform: translateY(-50%) rotate(90deg) translateY(-50%);
  }

  &__list {
    display: none;
    width: fit-content;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -17px;
    transform: translateY(10px);
    border: 1px solid $thumb-border-grey;
    border-top: none;
    background-color: rgba(249, 249, 249, 0.5);
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    font-weight: 700;
    font-size: 15px;
    line-height: 1.467;
    cursor: pointer;
    z-index: 1;
  }

  &__list--visible {
    display: inline-block;
  }

  &__option {
    padding: 9px 16px;
    background-color: $bg-light-grey;
    border-bottom: 1px solid $thumb-border-grey;
  }
  &__option:first-child {
    border-radius: 12px 12px 0px 0px;
  }
  &__option:last-child {
    border-bottom: none;
    border-radius: 0px 0px 12px 12px;
  }
  &__option:hover,
  &__option:focus {
    background-color: $discount-bg-green;
  }
}

// CONTROLS

.controls {
  &__list {
    display: flex;
    column-gap: 40px;
  }
  &__link {
    display: inline-block;
    min-width: 24px;
    min-height: 24px;
  }
  &__icon {
    width: 20px;
    height: 18px;
    fill: none;
    @include transition(transform);
  }

  &__link:hover &__icon,
  &__link:hover &__icon,
  &__link:focus &__icon,
  &__link:focus &__icon {
    transform: scale(1.3);
  }

  &__item--bag {
    position: relative;
    min-width: 30px;
    min-height: 30px;
  }

  &__indicator {
    position: absolute;
    bottom: 3px;
    left: -6px;
    display: block;
    width: 16px;
    height: 16px;
    padding: 1px 4px;
    border-radius: 12px;
    background-color: $accent-red;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 12px;
    color: $main-white;
    transition: transform 500ms ease-in-out;
  }

  &__link:hover &__indicator,
  &__link:focus &__indicator {
    transform: rotate(360deg) scale(1.1);
  }
}
