<footer class="footer">
  <div class="container footer__container">
    <div class="footer-nav">
      <div class="footer-nav__wrapper">
        <h2 class="footer-nav__title">Get in touch</h2>
        <ul class="list-general footer-links-1">
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">About Us</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Careers</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links"
              >Press Releases</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Blog</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__wrapper">
        <h2 class="footer-nav__title">Connections</h2>
        <ul class="list-general">
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Facebook</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Twitter</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Instagram</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Youtube</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav__wrapper">
        <h2 class="footer-nav__title">Earnings</h2>
        <ul class="list-general">
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links"
              >Become an Affiliate</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links"
              >Advertise your product</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links"
              >Sell on Market</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-nav__wrapper">
        <h2 class="footer-nav__title">Account</h2>
        <ul class="list-general">
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Your account</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links"
              >Returns Centre</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links"
              >100 % purchase protection</a
            >
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Chat with us</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="links-general footer-nav__links">Help</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-tags">
      <h2 class="footer-tags__title">Product tags</h2>
      <ul class="list-general footer-tags__list">
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Beans</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Carrots</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Apples</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Garlic</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Mushrooms</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Tomatoes</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Chilli peppers</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Broccoli</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Watermelons</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Oranges</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Bananas</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Grapes</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Cherries</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Meat</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Strawberry</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Fish</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Seafood</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Fresh food</a>
        </li>
        <li class="footer-tags__item">
          <a href="" class="links-general footer-tags__link">Lemons</a>
        </li>
      </ul>
    </div>
    <p class="footer__copyright">Copyright &#169; 2020 petrbilek.com</p>
  </div>
</footer>

<div class="basket-modal">
  <button
    data-map-close
    class="basket-modal__close-btn"
    aria-label="close basket window"
  >
    &#10005;
  </button>
  <p class="basket-modal__title">Shopping cart</p>
  <div class="basket-modal__card-wrapper basket-card">
    <div class="basket-card__img-wrapper">
      <img
        class="image-display basket-card__image"
        src="https://cdn.pixabay.com/photo/2016/12/04/11/58/salmon-1881522_960_720.jpg"
        alt="Some pic"
        width="100"
        height="67"
      />
      <ul class="list-general basket-card__controls-list">
        <li class="list-general basket-card__controls-item">
          <button class="basket-card__controls-btn">
            <svg
              class="basket-card__controls-icon"
              aria-label="add to favourite items"
            >
              <use href="./images/icons.svg#heart"></use>
            </svg>
            Wishlist
          </button>
        </li>
        <li class="list-general basket-card__controls-item">
          <button class="basket-card__controls-btn">
            <svg
              class="basket-card__controls-icon"
              aria-label="compare with other items"
            >
              <use href="./images/icons.svg#compare"></use>
            </svg>
            Compare
          </button>
        </li>
        <li class="list-general basket-card__controls-item">
          <button class="basket-card__controls-btn">
            <svg
              class="basket-card__controls-icon"
              aria-label="remove from basket"
            >
              <use href="./images/icons.svg#remove"></use>
            </svg>
            Remove
          </button>
        </li>
      </ul>
    </div>
    <div class="basket-card__data-wrapper">
      <p class="basket-card__data-title">Product title</p>
      <p class="basket-card__data-property">
        Farm:
        <span class="basket-card__data-value data-farm">Tharamis Farm</span>
      </p>
      <p class="basket-card__data-property">
        Freshness:
        <span class="basket-card__data-value data-freshness">1 day old</span>
      </p>
      <div class="basket-card__data-rating">
        <svg class="basket-card__data-rating-icon">
          <use href="./images/icons.svg#star"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="basket-modal__bottom-data-wrapper">
    <div class="basket-modal__total-wrapper">
      <p class="basket-modal__subtotal">Subtotal</p>
      <span class="basket-modal__value">73.98 USD</span>
    </div>
    <div class="basket-modal__btn-wrapper">
      <button type="button" class="top-btn">Continue shopping</button>
      <button type="button" class="buy-btn">Go to Checkout</button>
    </div>
  </div>
</div>
