.buy-btn {
  display: inline-block;
  padding: 6.5px 12px;
  background-color: $accent-green;
  border: 2px solid $buy-btn-border-green;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.47;
  color: $main-white;
  text-align: center;
  @include transition(transform, box-shadow);

  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0px 1px 3px rgba(70, 118, 10, 0.5);
  }
}
