.basket-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  width: 400px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  padding: 24px 16px;
  background-color: $main-white;
  border-radius: 12px;
  border: 1px solid $buy-btn-border-green;
  //   transform: translate(-50%, -150%);
  @include transition(transform);
  transition-duration: 350ms;

  &__close-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    @extend %flex-center;
    padding: 0;
    margin: 0;
    z-index: 10;
    background-color: transparent;
    border: none;

    @include transition(transform);

    &:hover,
    :focus {
      transform: scale(1.2);
    }
  }

  &__title {
    display: inline-block;
    // margin-bottom: 24px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
  }
  &__card-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-height: 340px;
    overflow-y: scroll;
  }

  &__card-wrapper {
    flex-grow: 2;
  }
  &__total-wrapper {
    // padding: 24px 0px;
  }
  &__subtotal {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
  }
  &__value {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px solid $divider-grey;
  }
}

.basket-card {
  display: flex;
  column-gap: 16px;
  align-items: center;
  //   justify-content: space-between;

  flex-direction: row;
  &__image {
    width: 100px;
    height: 67px;
    border-radius: 12px;
    margin-bottom: 12px;
  }
  &__controls-item {
    // position: relative;
  }
  &__controls-btn {
    display: flex;
    position: relative;
    padding: 0 0 0 18px;
    border: none;
    background-color: transparent;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: $text-pale-grey;

    &:hover,
    &:focus {
      transform: translateX(4px) scale(1.1);
    }
  }
  &__controls-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    fill: none;
    z-index: 20000;
    stroke: $main-black;

    &:hover,
    &:focus {
      stroke: $accent-red;
    }

    .basket-card__controls-btn:hover &,
    .basket-card__controls-btn:focus & {
      stroke: $accent-red;
      transform: translateY(-50%) scale(1);
    }
  }

  &__data-wrapper {
    flex-grow: 1;
  }

  &__data-title {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.47;
  }
  &__data-property {
    display: block;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.5;
    color: $text-pale-grey;
  }

  &__data-value {
    color: $main-black;
  }

  &__data-rating {
    margin: 8px 0 16px 0;
    display: flex;
    column-gap: 2px;
  }
  &__data-rating-icon {
    width: 16px;
    height: 16px;
    stroke: $divider-grey;
    fill: transparent;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__new-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: $accent-green;
  }
  &__old-price {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-decoration-line: line-through;
    color: $text-pale-grey;
  }

  &__input-wrapper {
    display: flex;
    justify-items: flex-start;
    padding: 6px;
    min-width: 96px;
    height: 32px;
    border: 1px solid $thumb-border-grey;
    border-radius: 12px;
    background-color: $bg-light-grey;
  }

  &__input {
    min-width: 34px;
    height: 19px;
    border: transparent;
    border-right: 1px solid $thumb-border-grey;
    background-color: transparent;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    outline: none;
  }
  &__select-wrapper {
    flex-grow: 2;
  }
  &__select {
    height: 18px;

    border: transparent;
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    outline: none;
  }
}

.data-farm {
  margin-left: 41px;
}
.data-freshness {
  margin-left: 14px;
}
