.submenu {
  white-space: nowrap;
  //   display: none;
  width: fit-content;
  min-width: 170px;
  position: absolute;
  //   top: 100%;
  left: -17px;
  border-top: none;
  top: -9999999999em;
  visibility: 0;
  opacity: 0;
  background-color: transparent;
  box-shadow: 14px 43px 54px -1px rgba(102, 143, 79, 0.2);
  z-index: 100;
  border-radius: 0px 0px 12px 12px;
  font-size: 14px;
  line-height: 1.467;
  cursor: pointer;
  @include transition(transform, opacity, visibility);
  transition-duration: 500ms;

  &:hover,
  &:focus {
    display: block;
    visibility: 1;
    opacity: 1;
    top: 100%;
    z-index: 10000;
    transform: translateY(-5px);
    // transform: translateY(-45px);
  }

  &--visible {
    display: block;
    opacity: 1;
    visibility: 1;
    top: 100%;
  }
  &--invisible {
    display: block;
    opacity: 0;
    visibility: 0;
    top: -9999999999em;
  }

  &__item {
    position: relative;
    background-color: $bg-light-grey;
    border-bottom: 1px solid $thumb-border-grey;
  }

  &__item:last-child {
    border-radius: 0px 0px 12px 12px;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 9px 16px;
    border-radius: 12px;
    @include transition(color, transform, background-color, border-color);
  }

  &__link:hover,
  &__link:focus {
    background-color: $discount-bg-green;
    border-color: transparent;
    color: $accent-green;
    transform: scale(1.1);
  }

  &__link:hover ~ .sub-submenu,
  &__link:focus ~ .sub-submenu {
    display: block;
    visibility: 1;
    opacity: 1;
    left: 100%;
  }
}

.sub-submenu {
  white-space: nowrap;
  //   display: none;
  width: fit-content;
  position: absolute;
  top: 0;
  left: -9999999999em;
  //   left: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: 0;
  box-shadow: 14px 43px 54px -1px rgba(102, 143, 79, 0.2);
  border-radius: 0px 0px 12px 12px;
  font-size: 14px;
  line-height: 1.467;
  cursor: pointer;
  @include transition(transform, opacity, visibility);
  transition-duration: 500ms;

  &:hover,
  &:focus {
    display: block;
    opacity: 1;
    visibility: 1;
    left: 100%;
  }

  //   &--visible {
  //     display: block;
  //     opacity: 1;
  //     visibility: 1;
  //     left: 100%;
  //   }
  //   &--invisible {
  //     display: block;
  //     opacity: 0;
  //     visibility: 0;
  //     left: -9999999999em;
  //   }

  &__item {
    background-color: $bg-light-grey;
    border-bottom: 1px solid $thumb-border-grey;
  }

  &__item:last-child {
    border-radius: 0px 0px 12px 12px;
  }

  &__link {
    display: block;
    padding: 9px 16px;
    border-radius: 12px;
    @include transition(color, transform, background-color, border-color);
  }
  &__link:hover,
  &__link:focus {
    background-color: $discount-bg-green;
    border-color: transparent;
    color: $accent-green;
    transform: scale(1.1);
  }
}

// .arrow {
//   display: none;
//   position: absolute;
//   right: 0;
//   top: 12px;
//   width: 0;
//   height: 0;
//   border-top: 10px solid #fff;
//   border-right: 10px solid transparent;
//   border-left: 10px solid transparent;
// }
// .arrow.active {
//   transform: rotate(-180deg);
// }

// body.mouse .menu__link:hover ~ .submenu,
// body.mouse .menu__link:hover ~ .submenu {
//   // display: block;
//   opacity: 1;
//   visibility: 1;
//   top: 100%;
// }

// body.mouse .sub-menu__link:hover .sub-submenu,
// body.mouse .sub-menu__link:focus .sub-submenu {
//   // display: block;
//   opacity: 1;
//   visibility: 1;
//   left: 100%;
// }

// body.touch .submenu.open {
//   // display: block;
//   opacity: 1;
//   visibility: 1;
//   top: 100%;
// }
// body.touch .sub-submenu.open {
//   // display: block;
//   opacity: 1;
//   visibility: 1;
//   left: 100%;
// }
