.submenu {
  white-space: nowrap;
  display: none;
  width: fit-content;
  min-width: 170px;
  position: absolute;
  top: 100%;
  left: -17px;
  transform: translateY(-1px);
  border-top: none;
  //   right: -9999999999em;
  //   opacity: 0;
  background-color: transparent;
  box-shadow: 14px 43px 54px -1px rgba(102, 143, 79, 0.2);
  z-index: 100;
  border-radius: 0px 0px 12px 12px;
  font-size: 14px;
  line-height: 1.467;
  cursor: pointer;

  &:hover,
  &:focus {
    display: block;
  }

  &--visible {
    display: block;
  }

  &__item {
    position: relative;

    background-color: $bg-light-grey;
    border-bottom: 1px solid $thumb-border-grey;
  }
  &__item:last-child {
    border-radius: 0px 0px 12px 12px;
  }
  //   &__item:first-child {
  //     border-radius: 12px 12px 0px 0px;
  //   }

  &__link {
    display: block;
    width: 100%;
    padding: 9px 16px;

    @include transition(color, transform, background-color, border-color);
  }

  &__link:hover,
  &__link:focus {
    background-color: $discount-bg-green;
    border-color: transparent;
    color: $accent-green;
    transform: scale(1.1);
  }

  &__link:hover ~ .sub-submenu,
  &__link:focus ~ .sub-submenu {
    display: block;
    // left: 0;
    // opacity: 1;
  }
}

.sub-submenu {
  white-space: nowrap;
  display: none;
  width: fit-content;
  position: absolute;
  top: 0;
  //   transform: translateX(100%);
  left: 100%;
  z-index: 10000;

  box-shadow: 14px 43px 54px -1px rgba(102, 143, 79, 0.2);
  border-radius: 0px 0px 12px 12px;
  font-size: 13px;
  line-height: 1.467;
  cursor: pointer;

  &:hover,
  &:focus {
    display: block;
  }

  &__item {
  }

  &__link {
    display: block;
    padding: 9px 16px;
    border-radius: 12px;
    background-color: $bg-light-grey;
    border-bottom: 1px solid $thumb-border-grey;
    @include transition(color, transform, background-color, border-color);
  }
  &__link:hover,
  &__link:focus {
    background-color: $discount-bg-green;
    border-color: transparent;
    color: $accent-green;
    transform: scale(1.1);
  }
}
